body {
    background-color: rgb(193,189,186);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    width: 600px;
    height: 600px;
    background-color: rgb(37,51,61);
    margin-top: 20px;
}

.botonera {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn {
    width: 250px;
    height: 60px;
    border: none;
    background-color: rgb(68,82,90);
    color: rgb(255,255,255);
    font-size: x-large;
}

.btn:hover, .btnSign:hover, .btnStarted:hover {
    background-color: rgb(60,177,136);
}

.btnSign, .btnStarted {
    background-color: rgb(98, 199, 163);
}

.txt {
    display: flex;
    color: rgb(255,255,255);
    font-size: xx-large;
    justify-content: center;
    margin-top: 40px;
}

.formulario {
    display: flex;
    justify-content: center;
}

.form {
    width: 500px;
    height: 250px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    height: 40px;
    width: 240px; 
    background-color: rgb(68,82,90);
    border: 1px solid rgb(255,255,255);
}

.femail, .fpass{
    /* flex-grow: 8; */
    width: 500px;
}

::placeholder { 
    color: rgb(119,128,134); 
    font-size: large;
    padding-left: 15px;
}

.btnAceptar {
    display: flex;
    justify-content: center;
}

.btnStarted {
    width: 500px;
    height: 60px;
    border: none;
    color: rgb(255,255,255);
    font-size: xx-large;

}



