body {
    background-color: rgb(193,189,186);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    width: 600px;
    height: 600px;
    background-color: rgb(37,51,61);
    margin-top: 20px;
}